@import "tailwindcss";

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #e35d06;
  cursor: pointer;
  border: 4px solid white;
  box-shadow: 0 0 10px rgba(227, 93, 6, 0.5);
}

input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #e35d06;
  cursor: pointer;
  border: 4px solid white;
  box-shadow: 0 0 10px rgba(227, 93, 6, 0.5);
}